<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ipa-injector.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3270F5981FCE61A4002CA020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3270F5B01FCE61A4002CA020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3270F5BB1FCE61A4002CA020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
